<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: page(~{::title}, ~{::section})}">
<head>
  <title>Mein Tierbetreuer-Profil</title>
</head>
<body>
<section>
  <h1>Mein Tierbetreuer-Profil</h1>

  <p class="muted">Eingeloggt als <span sec:authentication="name"></span></p>

  <p class="profile-name">
    <span th:text="${profile.firstName}">Max</span>
    <span th:text="${profile.lastName}">Mustermann</span>
  </p>

  <table>
    <tr>
      <th scope="row">E-Mail:</th>
      <td th:text="${profile.user.email}"></td>
    </tr>
    <tr>
      <th scope="row">Adresse:</th>
      <td th:text="${profile.address}"></td>
    </tr>
    <tr>
      <th scope="row">Akzeptierte Tierarten:</th>
      <td>
        <span th:if="${profile.acceptedSpecies.empty}">Keine</span>
        <span th:each="species, iterStat : ${profile.acceptedSpecies}">
          <span th:text="${#strings.capitalize(#strings.toLowerCase(species.name()))}">Dog</span><span th:if="${!iterStat.last}">, </span>
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row">Verfügbar ab:</th>
      <td th:text="${#temporals.format(profile.availableFrom, 'dd.MM.yyyy')}"></td>
    </tr>
    <tr>
      <th scope="row">Verfügbar bis:</th>
      <td th:text="${#temporals.format(profile.availableUntil, 'dd.MM.yyyy')}"></td>
    </tr>
    <tr>
      <th scope="row">Preis pro Woche:</th>
      <td><span th:text="${#numbers.formatDecimal(profile.pricePerWeek, 1, 'POINT', 2, 'COMMA')}"></span> €</td>
    </tr>
  </table>

  <div class="form-actions">
    <a th:href="@{/host/profile/edit}">Profil bearbeiten</a>
    <a th:href="@{/dashboard}">Zum Dashboard</a>
  </div>
</section>
</body>
</html>
