<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: page(~{::title}, ~{::section})}">
<head>
    <title>Dashboard</title>
</head>
<body>
<section>
    <h1>Dashboard</h1>

    <p>Eingeloggt als <span sec:authentication="name"></span></p>

    <p sec:authorize="hasRole('OWNER')"><a th:href="@{/owner/profile}">Mein Profil</a></p>
    <p sec:authorize="hasRole('HOST')"><a th:href="@{/host/profile}">Mein Profil</a></p>
</section>
</body>
</html>
