<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: page(~{::title}, ~{::section})}">
<head>
    <title>Mein Profil</title>
</head>
<body>
<section>
    <h1>Mein Besitzerprofil</h1>

    <p class="muted">Eingeloggt als <span sec:authentication="name"></span></p>

    <p class="profile-name">
        <span th:text="${profile.firstName}">Max</span>
        <span th:text="${profile.lastName}">Mustermann</span>
    </p>

    <table>
      <tr>
        <th scope="row">Vorname:</th>
        <td th:text="${profile.firstName}"></td>
      </tr>
      <tr>
        <th scope="row">Nachname:</th>
        <td th:text="${profile.lastName}"></td>
      </tr>
      <tr>
        <th scope="row">E-Mail:</th>
        <td th:text="${profile.user.email}"></td>
      </tr>
      <tr>
        <th scope="row">Straße:</th>
        <td data-address-part="street" th:attr="data-address=${profile.address}" th:text="${profile.address}"></td>
      </tr>
      <tr>
        <th scope="row">Straßennummer:</th>
        <td data-address-part="streetNumber" th:attr="data-address=${profile.address}"></td>
      </tr>
      <tr>
        <th scope="row">PLZ:</th>
        <td data-address-part="postalCode" th:attr="data-address=${profile.address}"></td>
      </tr>
      <tr>
        <th scope="row">Ort:</th>
        <td data-address-part="city" th:attr="data-address=${profile.address}"></td>
      </tr>
    </table>

    <div class="form-actions">
        <a th:href="@{/owner/profile/edit}">Profil bearbeiten</a>
        <a th:href="@{/dashboard}">Zum Dashboard</a>
    </div>
    <script th:src="@{/js/owner-address.js}"></script>
</section>
</body>
</html>
